/* ===========================
   Imported Google fonts
============================== */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ==========================================
   Reset margin and padding for all elements
============================================= */
* {
    margin: 0;
    padding: 0;
}

/* ===========================
   Global styles
============================== */
:root {
    /* --text-color: ; Not yet decided */
    --dark-blue: #507A87;
    --light-blue: #C9DEF1;
    --dark-lilac: #AF84DA;
    --light-lilac: #D8C7EC;
    --light-yellow: #F5E79D;

    --primary-font: "Unna", serif;
    --secondary-font:"Bricolage Grotesque", sans-serif;
}

body {
    font-size: 1rem; /* 16px default */
    line-height: 1.6;
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
}